.register-form {
    position: fixed;
    right: 100px;
    transform: translateY(40%);
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 10px;
}

.ant-col-rtl {
    float: left;
}

.illustration-div {
    height: 100vh;
}