.job-search {
    position: relative;
    margin-top: 10px;
    width: 30%;
    left: 35%;
}

/* .job-list {
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 50%;
    left: 25%;
} */